{% set home = get_section(path='_index.md', lang=config.default_language) %}
{% set news = get_section(path='news/_index.md', lang=config.default_language) %}

<nav id="bottom-menu" role="navigation" aria-label="Footer navigation">
  {% for page in [home, news, ...home.pages] %}
  {% set translated = [t for t in page.translations if t.lang == lang] | first %}
  {% if translated %}
    {% if "_index" in translated.path %}
      {% set page = get_section(path=translated.path) %}
    {% else %}
      {% set page = get_page(path=translated.path) %}
    {% endif %}
  {% endif %}

  {% if page.extra.menu_title %}
  {% if resource_path != page.path %}<a href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% endif %}
    <span>{{ page.extra.menu_title }}</span>
    {%- if resource_path != page.path %}</a>{% endif %}
  &nbsp;
  {% endif %}
  {% endfor %}

  <a href="https://omaps.app/api" title="How to open Organic Maps from other apps and pass the data back">API</a>
  &nbsp;
  <a href="mailto:hello@organicmaps.app">{{ trans(key='contact', lang=lang) }}</a>
</nav>
